<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Destination</h1>
        <div class="col-6 offset-3">
            <form action="/attraction/<%=area._id%>?_method=PUT" method="post" novalidate class="validated-form">
                <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="area[title]" id="title" value="<%=area.title%>" required>
                <div class="valid-feedback">
                    Passed!
                </div>     
                </div>
                
                <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="area[location]" id="location" value="<%=area.location%>" required>
                <div class="valid-feedback">
                    Passed!
                </div> 
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input type="file" class="form-control" name="area[images]" id="image" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Destination Price</label>
                    <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="area[price]" value="<%=area.price%>" required>
                    <div class="valid-feedback">
                        Passed!
                    </div> 
                </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="area[description]" id="description" value="<%=area.description%>" required><%=area.description%></textarea>
                    <div class="valid-feedback">
                        Passed!
                    </div> 
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-info">Update</button>
                </div>
                
            
            </form>
            <a href="/attraction/<%= area._id%>">Back to all</a>
        </div>
    </div>

